<div class="container-fluid">
  <header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-horizontal">
      <a class="navbar-brand" href="#">
        <img src="/assets/img/chatIcon.png" alt="icon" style="height: 50px; margin-right: 10px; margin-left: 10px;">AgroWhiz
      </a>
      <div class="ml-auto d-flex align-items-center">
        <button class="nav-link btn btn-link mr-2" routerLink="/sign-in">Sign In</button>
        <button class="nav-link btn btn-link mr-2" routerLink="/sign-up">Sign Up</button>
        <button class="nav-link btn btn-link" routerLink="/chatbot">Get Assistant</button>
      </div>
    </nav>
    
  </header>
  
  <main *ngIf="isHomePage" style="margin-top:30px">
    <div class="tagline">
      <h2>AgroWhiz - Revolutionizing Farming with Smart Solutions for a Sustainable Future</h2>
    </div>
    <section id="home">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12 mt-5">
            <div class="row">
              <div class="col text-center">
                <h2>AgroWhiz</h2>
                <p class="ms-5">- Your Farming Assistant</p>
                <div class="container mt-5">
                  <p>Boost your Farm Productivity</p>
                  <p>Get instant farming <br> solutions here.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="text-center"><img src="/assets/img/home1.gif" alt="" id="img-home" class="img-fluid"></div>
          </div>
        </div>
      </div>
    </section>
    <section id="who-am-i" class="section">
      <div class="container p-5">
        <div class="row">
          <div class="col-md-6">
            <h2 class="section-title mx-5">Who Am I?</h2>
            <div class="section-content">
              <div class="bullet-points">
                <ul>
                  <li>24/7 assistance for farmers</li>
                  <li>Integrated with Beckn protocol</li>
                  <li>Utilizes AI & ML for advanced query resolution</li>
                  <li>Offers personalized recommendations</li>
                  <li>Helps optimize farming practices</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="text-center"><img src="/assets/img/who.png" class="img-fluid"></div>
          </div>
        </div>
      </div>
    </section>
    <section id="contact-us" class="section">
      <div class="container p-5">
        <div class="row">
          <div class="col-md-6">
            <h2 class="section-title">Contact Us</h2>
            <div class="section-content">
              <p>We'd love to hear from you! Reach out to us for any inquiries or feedback.</p>
              <form id="contact-form" class="contact-form">
                <div class="form-group mt-3">
                  <input type="text" class="form-control" placeholder="Your Name" required>
                </div>
                <div class="form-group mt-3">
                  <input type="email" class="form-control" placeholder="Your Email" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" rows="5" placeholder="Your Message" required></textarea>
                </div>
                <div class="text-center m-3"><button type="submit" class="btn text-dark">Send Message</button></div>
              </form>
            </div>
          </div>
          <div class="col-md-6">
            <div class="features-container mt-5 mx-5">
              <div class="feature-item">
                <div class="feature-icon"><i class="bi bi-check"></i></div>
                <div class="feature-text">24/7 Assistance</div>
              </div>
              <div class="feature-item">
                <div class="feature-icon"><i class="bi bi-robot"></i></div>
                <div class="feature-text">AI & ML Integration</div>
              </div>
              <div class="feature-item">
                <div class="feature-icon"><i class="bi bi-lightbulb-fill"></i></div>
                <div class="feature-text">Personalized Recommendations</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <router-outlet></router-outlet>
  <footer class="footer">
    <p>&copy; 2024 AgroAssist</p>
  </footer>
</div>
